<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakeel.altla.ghost.alpha.mock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".view.activity.NearbySearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.OptionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".view.activity.MyObjectListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".view.activity.MyObjectActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".view.activity.EditObjectActivity"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".view.activity.ShareActivity"
            android:theme="@style/AppTheme.TitleBar">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".view.activity.FeedbackActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TitleBar" />

    </application>

</manifest>