<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firestore.cloud.sample.altla.lakeel.com.lib.text.drawable">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>